<template>
  <v-container style="width:500px; background-color: #f8f8f8!important;">
    <v-row justify="space-between" align="center">
      <v-col cols="7">
        <v-row justify="start" no-gutters>
          <v-col cols="8">
            <p class="labels">Purchase price</p>
            
            <v-text-field
              class="input_field text_field"
              solo
              flat
              v-model="purchasePrice"
              style="border-bottom-right-radius: unset;
                    border-top-right-radius: unset;
                    "
            ></v-text-field>
          </v-col>
          <v-col cols="3">
            <p class="labels"></p>
            <v-select
              class="input_field select_box"
              label="$"
              solo
              flat
              :items="currencyItems"
              v-model="currency"
              style="border-bottom-left-radius: unset;
                border-top-left-radius: unset;
                    padding-top: 15px;"
            ></v-select>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="5">
        <p class="labels">Plot size</p>

        <v-text-field class="input_field text_field" v-model="plotSize" label="Solo" suffix="m²" solo flat></v-text-field>
      </v-col>
    </v-row>
    <v-row justify="space-between" align="center">
      <v-col cols="5">
        <p class="labels">Year of construction</p>

        <v-text-field class="input_field text_field" v-model="yearOfConstruction" label="Solo" solo flat></v-text-field>
      </v-col>

      <v-col cols="5">
        <p class="labels">Net rent total (p.a.)</p>

        <v-text-field
          class="input_field text_field"
          v-model="netRent"
          placeholder="50000.0"
          suffix="$ / p.a."
          solo
          flat
        ></v-text-field>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      purchasePrice: 1000000,
      plotSize: 0,
      yearOfConstruction: 0,
      netRent: null,
      currencyItems: [{ text: "$", value: "USD" }, { text: "€", value: "EUR" }],
      currency: "USD"
    };
  }
   , mounted () {
    this.$http
      .get('https://server.offmade.io/code-challenge')
      .then(response => (
      this.populateData(response.data)
      )
      )
  }
  ,methods:{
    populateData(data){
      this.purchasePrice=data.price
      this.plotSize=data.plotSize
      this.yearOfConstruction=data.yearOfConstruction
      this.netRent=data.netRentTotal
      this.currency=data.currency
    }
  }
};
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");
.v-input__icon--append {
  border-left: 0.1px solid lightgrey;
}
.v-text-field__suffix {
  border-left: 0.1px solid lightgrey;
  padding-left: 9px !important;
  color: gray;
  font-size: small;
}
.select_box .v-input__slot{
  box-shadow: 7px 0px 10px -8px rgba(150, 150, 150, 0.40);
}
.text_field .v-input__slot{
  box-shadow: 0px 0px 15px -6px rgba(150, 150, 150, 0.50);
}
.input_field {
  font-family: "Rubik", sans-serif;

}
.labels {
  font-family: "Rubik", sans-serif;
  font-size: x-small;
  color: gray;
  margin-bottom: 5px !important;
}
.row {
  max-height: 100px;
}
.v-text-field__slot input{
  color:#484848 !important;
}
</style>

